{% raw %}{{Infobox Clothing{% endraw %}
|title={{ infobox.title }}
|image={{ infobox.image }}
|description={{ infobox.description }}
|weight={{ infobox.weight }}
|run-speed-multiplier={{ infobox.run_speed_multiplier or "" }}
|temperature-contribution={{ infobox.temperature_contribution or "" }}
|itemID={{ infobox.item_id }}

|water-resistance={{ infobox.water_resistance or "" }}
|rain-resistance={{ infobox.rain_resistance or "" }}
|radiation-resistance={{ infobox.radiation_resistance or "" }}
|can-hotwire-with={{ infobox.can_hotwire_with or "" }}

|blunt-resistance={{ infobox.blunt_resistance or "" }}
|bladed-resistance={{ infobox.bladed_resistance or "" }}
|bullet-resistance={{ infobox.bullet_resistance or "" }}
|zombie-bite-resistance={{ infobox.zombie_bite_resistance or "" }}
|animal-bite-resistance={{ infobox.animal_bite_resistance or "" }}
{% raw %}}}{% endraw %}