{% raw %}{{Infobox Fluid{% endraw %}
|title={{ infobox.title }}
|image={{ infobox.image }}
|smell-text={{ infobox.smell_text or "" }}
|smell-rotten={{ infobox.smell_rotten_text or "" }}
|decays={{ infobox.decays }}
|freezing-point={{ infobox.freezing_point or "" }}
|thirst-satisfaction-per-ml={{ infobox.thirst_satisfaction_per_ml or "" }}
|density={{ infobox.density or "" }}
|wash-target=
|detergent-multiplier={{ infobox.detergent_multiplier or "" }}
|fertilizer-effectiveness={{ infobox.fertilizer_effectiveness or "" }}
|sanitizes-wounds={{ infobox.sanitizes_wounds }}
|scent-strength={{ infobox.scent_strength or "" }}
|scent-radius={{ infobox.scent_radius or "" }}
|scent-radius-sqr={{ infobox.scent_radius_sqr or "" }}
{% raw %}}}{% endraw %}