{% raw %}{{{% endraw %}Infobox Weapon
|title={{ infobox.title }}
|image={{ infobox.image }}
|description={{ infobox.description or "" }}
|weight={{ infobox.weight or "" }}
|used-as={{ infobox.used_as or "" }}
|itemID={{ infobox.item_id or "" }}

|melee-damage-type={{ infobox.melee_damage_type or "" }}
|melee-swing-time={{ infobox.melee_swing_time or "" }}
|melee-base-damage={{ infobox.melee_base_damage or "" }}
|melee-base-dps={{ infobox.melee_base_dps or "" }}
|melee-tiredness={{ infobox.melee_tiredness or "" }}

|firearm-damage={{ infobox.firearm_damage or "" }}
|ammo-capacity={{ infobox.ammo_capacity or "" }}
|ammo-type={{ infobox.ammo_type or "" }}
{% raw %}}}{% endraw %}