{% extends "base.jinja" %}

{% block body %}
{% include "infobox_item.jinja" %}

'''{{ model.display_name() }}''' is a type of [[Ammo#Firearm_Magazines|firearm magazine]] for [[Weapons#Ranged_Weapons|firearms]].

{% include "item_general_info.jinja" %}
{% endblock body %}
