{% if subject.dismantle_results %}
=== Dismantle ===
{{ subject.name }} can be [[Dismantling|dismantled]] into the following parts:
{| class="wikitable"
! Item
! Quantity
{% for result in subject.dismantle_results %}|-
| {{ result.name }}
| {{ result.min_quantity }} - {{ result.max_quantity }}
{% endfor %}|}
{% endif %}