{% raw %}{{Infobox Item{% endraw %}
|title={{ infobox.title }}
|image={{ infobox.image }}
|description={{ infobox.description }}
|weight={{ infobox.weight }}
|used-as=
|stackable={{ infobox.stackable_str() }}
|renewable={{ infobox.renewable_str() }}
|itemID={{ infobox.item_id }}
{% raw %}}}{% endraw %}