{% raw %}{{{% endraw %}Infobox Weapon
|title={{ infobox.title }}
|image={{ infobox.image }}
|description={{ infobox.description }}
|weight={{ infobox.weight }}
|used-as=
|itemID={{ infobox.item_id }}

|firearm-damage={{ infobox.firearm_damage }}
|ammo-capacity={{ infobox.ammo_capacity }}
|ammo-type={{ infobox.ammo_type }}
{% raw %}}}{% endraw %}