{% if obtaining %}
== Obtaining ==
{% include "construction.jinja" %}
{% include "scavenging.jinja" %}

{# include "cooking.jinja" #}
{# include "crafting.jinja" #}
{# include "dismantle.jinja" #}
{# include "static_spawns.jinja" #}
{% endif %}

{% if usage %}
== Usage ==
{% include "requirements.jinja" %} 
{% include "conditions.jinja" %}
{% include "dismantle_into.jinja" %}
{% include "repair.jinja" %}

{# include "cooking.jinja" #} 
{# include "crafting.jinja" #}
{# include "fuel.jinja" #}
{# include "consumption.jinja" #}
{# include "car_modification.jinja" #}
{# include "weapon_modification.jinja" #}
{# include "building.jinja" #}
{% endif %}

{% include "variants.jinja" %}



{% raw %}{{ NavBarItems }}{% endraw %}
