{% if obtaining %}
== Obtaining ==
{# include "cooking.jinja" #}
{# include "crafting.jinja" #}
{# include "dismantle.jinja" #}
{# include "static_spawns.jinja" #}
{# include "scavenging.jinja" #}
{% endif%}


{% if usage %}
== Usage ==
{# include "repair.jinja" #}
{# include "cooking.jinja" #} 
{# include "crafting.jinja" #}
{% include "dismantle_into.jinja" %}
{# include "fuel.jinja" #}
{# include "consumption.jinja" #}
{# include "car_modification.jinja" #}
{# include "weapon_modification.jinja" #}
{# include "building.jinja" #}
{% endif%}
{% raw %}{{ NavBarItems }}{% endraw %}