{% raw %}{{{% endraw %}Item infobox
| image = {{ subject.name }}.png
| description = {{ subject.description }}
| obtain = ??
| usage = Crafting
| kilograms = {{ subject.weight_kg }} kg
| pounds = {{ subject.weight_lbs }} lbs
{% raw %}}}{% endraw %}